<!DOCTYPE html>
<html lang="en" layout:decorate="~{index(title='Sign up')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Register</title>
</head>
<body>
<div layout:fragment="content">
    <form action="#" method="post" th:object="${user}">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" placeholder="Username" th:field="*{username}" type="text">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input class="form-control" id="email" placeholder="Enter email" th:field="*{email}" type="email">
            <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" placeholder="Password" th:field="*{password}" type="password">
        </div>
        <div class="form-group">
            <label for="passwordRepeat">Repeat Password</label>
            <input class="form-control" id="passwordRepeat" placeholder="Password Repeat" th:field="*{passwordRepeat}"
                   type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</body>
</html>