<html layout:decorate="~{index(title='Add team')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Add team</title>
</head>
<body>
<div layout:fragment="content">
    <form method="post" name="f" th:object="${team}">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" type="text"/>
        </div>
        <div class="form-group">
            <label>Add users</label><br>
            <input class="btn btn-success" id="add" type="button" value="+"></input>
            <input class="btn btn-danger" id="remove" type="button" value="-"></input>
        </div>
        <div class="form-group" id="users">

        </div>
        <div class="form-actions">
            <button class="btn btn-success" type="submit">Add</button>
        </div>
    </form>
</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/entry-user-list.js}"></script>
</div>
</body>
</html>

