<html layout:decorate="~{index(title='My teams')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">My teams</title>
</head>
<body>
<div layout:fragment="content">
    <h2 class="text-center">My teams</h2>
    <div class="container">
        <a class="my-2" th:href="@{/team/addTeam}">
            <button class="btn btn-success">Add new team</button>
        </a>

        <ul class="list-group" th:each="teamRole: ${teamRoles}">
            <li class="list-group-item my-2">
                <b><p>Team name</p></b>
                <div class="row">
                    <div class="mx-auto" th:text="${teamRole.team.name}">
                    </div>
                </div>
                <p>Users</p>
                <div class="row">
                    <div class="mx-auto">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody th:each="teamRoleObj: ${teamRole.team.teamRoles}">
                            <tr>
                                <td th:text="${teamRoleObj.user.username}"></td>
                                <td th:text="${teamRoleObj.user.email}"></td>
                                <td th:text="${teamRoleObj.name}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p>Projects</p>
                <div class="row">
                    <div class="mx-auto">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                            </tr>
                            </thead>
                            <tbody th:each="projectObj: ${teamRole.team.projects}">
                            <tr>
                                <td th:text="${projectObj.name}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="p-2"
                         th:if="${teamRole.name == T(com.projecty.projectyweb.team.role.TeamRoles).MANAGER}">
                        <a th:href="@{/team/manageTeam(teamId=${teamRole.team.id})}">
                            <button class="btn btn-warning" id="addTaskButton" type="button">Manage team</button>
                        </a>
                    </div>
                    <div class="p-2">
                        <a th:href="@{/team/projectList(teamId=${teamRole.team.id})}">
                            <button class="btn btn-secondary" id="projectListButton" type="button">Project list</button>
                        </a>
                    </div>
                    <div class="p-2"
                         th:if="${teamRole.name == T(com.projecty.projectyweb.team.role.TeamRoles).MANAGER}">
                        <a th:href="@{/team/addTeamProject(teamId=${teamRole.team.id})}">
                            <button class="btn btn-success" id="addProjectButton" type="button">Add project</button>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>

