<html layout:decorate="~{index}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Team&rsquo;s project list</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Project list for team: <b th:text="${team.name}"></b></h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Task list</th>
            <th scope="col">Manage project</th>
        </tr>
        </thead>
        <tr th:each="project : ${projects}">
            <td th:text="${project.name}"></td>
            <td>
                <a th:href="@{/project/task/taskList(projectId=${project.id})}">
                    <button class="btn btn-primary">Task list</button>
                </a>
            </td>
            <td>
                <a th:href="@{/project/manageProject(projectId=${project.id})}">
                    <button class="btn btn-warning">Manage project</button>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
