<html layout:decorate="~{index(title='Add project')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Add project</title>

</head>
<body>
<div layout:fragment="content">
    <form method="post" name="f">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" type="text"/>
        </div>
        <div class="form-group">
            <input class="btn-success" id="add" type="button">+</input>
            <input class="btn btn-danger" id="remove" type="button">-</input>
        </div>
        <div class="form-group" id="users">

        </div>
        <div class="form-actions">
            <button class="btn btn-success" type="submit">Add</button>
        </div>
    </form>
</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/entry-user-list.js}"></script>
</div>
</body>
</html>

