<html layout:decorate="~{index(title='Add tasks')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Add tasks</title>
</head>
<body>
<div layout:fragment="content">

    <p>Add Task to project <span th:text="${project.name}"></span><p/>

    <form method="post" name="f">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" type="text"/>
        </div>
        <div class="form-group" id="users"></div>
        <div>
            <label for="startDate">Start date</label>
            <input class="form-control" id="startDate" name="startDate" type="date">
        </div>
        <div>
            <label for="startDate">End date</label>
            <input class="form-control" id="endDate" name="endDate" type="date">
        </div>
        <div class="form-actions">
            <button class="btn btn-success" type="submit">Add</button>
        </div>

    </form>
</div>

<div layout:fragment="scripts">
    <script th:src="@{/js/entry-user-list.js}"></script>
</div>
</body>
</html>