<html layout:decorate="~{index(title='Manage Users')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Manage users</title>

</head>
<body>
<div layout:fragment="content">
    <h1> List of users for project: <b><span th:text="${project.name}"></span></b></h1>
    <div class="container">
        <ul class="list-group" th:each="user: ${project.users}">
            <li class="list-group-item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p th:text="${user.username}"></p>
                        </div>
                        <div class="col">
                            <p th:text="${user.email}"></p>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger disabled" th:if="${user.id == currentUser.id}">Remove</button>
                            <a th:href="@{/project/deleteuser(projectId=${project.id}, userId=${user.id})}">
                                <button class="btn btn-danger" th:unless="${user.id == currentUser.id}">Remove</button>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <form method="post">
            <div class="form-group">
                <label>Add users</label><br>
                <input class="btn btn-success" id="add" type="button" value="+"></input>
                <input class="btn btn-danger" id="remove" type="button" value="-"></input>
            </div>
            <div class="form-group" id="users">

            </div>
            <div class="form-actions">
                <button class="btn btn-success" type="submit">Add</button>
            </div>
        </form>

    </div>
</div>
<div layout:fragment="scripts">
    <script th:src="@{/js/entry-user-list.js}"></script>
</div>
</body>
</html>

