<html   xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{index(title='My projects')}"
        >
<head>
    <title>Add project</title>

</head>
<body>
<div layout:fragment="content">
    <h1> List of projects </h1>
        <ul class="container" th:each="project: ${projects}">
<!--         Name-->
            <div class="row">
                <div class="mx-auto" th:text="${project.name}">
                </div>
            </div>
            <p> Użytkownicy </p>
            <div class="row">
                <div class="mx-auto">
                    <ul class="list-group" th:each="user: ${project.users}">
                        <li class="list-group-item" th:text="${user.username + ' ' + user.email}"></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button id="tasksListButton" class="btn btn-primary" type="button">Tasks list</button>
                </div>
                <div class="col">
                    <button id="addTaskButton" class="btn btn-success" type="button">Add task</button>
                </div>
            </div>
            <hr>
        </ul>
</div>

<div class="scripts">
    <!--    For addTask form processing-->
    <script th:src="@{/js/scrolling-nav.js}"></script>
</div>
</body>
</html>

