<html layout:decorate="~{index(title='My projects')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>My projects</title>

</head>
<body>
<div layout:fragment="content">
    <h1> List of projects </h1>
    <div class="container">
        <a class="my-2" th:href="@{/project/addproject}">
            <button class="btn btn-success">Add new project</button>
        </a>

        <ul class="list-group" th:each="role: ${roles}">
            <li class="list-group-item my-2">
                <!--         Name-->
                <div class="row">
                    <div class="mx-auto" th:text="${role.project.name}">
                    </div>
                </div>
                <p> Users </p>
                <div class="row">
                    <div class="mx-auto">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody th:each="roleObj: ${role.project.roles}">
                            <tr>
                                <td th:text="${roleObj.user.username}"></td>
                                <td th:text="${roleObj.user.email}"></td>
                                <td th:text="${roleObj.name}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!--                        <ul class="list-group" th:each="roleObj: ${role.project.roles}">-->
                        <!--                            <li class="list-group-item" th:text="${roleObj.user.username + ' ' + roleObj.user.email + ' '+roleObj.name}"></li>-->
                        <!--                        </ul>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a th:href="@{/project/tasklist(projectId=${role.project.id})}">
                            <button class="btn btn-primary" id="tasksListButton" type="button">Tasks list</button>
                        </a>
                    </div>
                    <div class="col" th:if="${role.name == 'ADMIN'}">
                        <a th:href="@{/project/addtasks(projectId=${role.project.id})}">
                            <button class="btn btn-success" id="addTaskButton" type="button">Add task</button>
                        </a>
                    </div>
                    <div class="col" th:if="${role.name == 'ADMIN'}">
                        <a th:href="@{/project/manageusers(projectId=${role.project.id})}">
                            <button class="btn btn-warning" id="manageUsersButton" type="button">Manage users</button>
                        </a>
                    </div>
                    <div class="col" th:if="${role.name == 'ADMIN'}">
                        <form method="POST" th:action="@{/project/deleteproject(projectId=${role.project.id})}">
                            <button class="btn btn-danger" type="submit">Delete project</button>
                        </form>
                        <!--                        <a th:href="@{/project/deleteproject(projectId=${role.project.id})}">-->
                        <!--                            <button class="btn btn-danger" id="removeProjectButton" type="button">Remove project</button>-->
                        <!--                        </a>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>

