<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Projecty Web</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/scrolling-nav.css}">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" th:href="@{/}">Projecty Web</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <security sec:authorize="!isAuthenticated()" th:remove="tag">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/login}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/register}">Sign up</a>
                    </li>
                </security>
                <div sec:authorize="isAuthenticated()" th:remove="tag">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/messages/messageList}">
                            <div th:if="${@messageService.getMessageCountForCurrentUser()>0}" th:remove="tag">
                                <span class="text-warning"
                                      th:text="${'('+@messageService.getMessageCountForCurrentUser()}+')'"></span>
                            </div>
                            Messages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/project/myprojects}">
                            Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/team/myTeams}">
                            Teams
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/settings}">
                            <span sec:authentication="name">Name</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/logout}">Log out</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1 th:text="${title}">Welcome to Scrolling Nav</h1>
        <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
    </div>
</header>

<section id="about">
    <div class="container-fluid">
        <div class="row">
            <!--            TODO Replace this obsolete code into new style-->
            <!--           ***Obsolete-->
            <div class="col-lg-8 mx-auto alert alert-success" role="alert" th:if="${messagesSuccess != null}">
                <ul class="list-group" th:each="message : ${messagesSuccess}">
                    <li class="list-group" th:text="${message}"></li>
                </ul>
            </div>
            <div class="col-lg-8 mx-auto alert alert-danger" role="alert" th:if="${messagesFailed != null}">
                <ul class="list-group" th:each="message : ${messagesFailed}">
                    <li class="list-group" th:text="${message}"></li>
                </ul>
            </div>
            <!--            *** END Obsolete-->
            <div class="col-lg-8 mx-auto" th:each="message: ${redirectMessages}" th:if="${messages != null}">
                <div class="alert" th:classappend="${message.type}">
                    <span th:text="${message.text}"></span>
                </div>
            </div>
            <div class="col-lg-8 mx-auto" layout:fragment="content">
                <h2>About Projecty</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam expedita minus nihil voluptatem.
                    Ab culpa debitis eveniet illum iusto labore minus, nostrum obcaecati odit omnis perspiciatis porro
                    quibusdam ratione sequi.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Projecty Web 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Plugin JavaScript -->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom JavaScript for this theme -->
<script th:src="@{/js/scrolling-nav.js}"></script>

<!-- Custom scripts -->
<div layout:fragment="scripts"></div>
</body>
</html>
