<html layout:decorate="~{index(title='Sent message list')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Sent messages</title>
</head>
<body>
<div layout:fragment="content">
    <a th:href="@{/messages/messageList(type='received')}">
        <button class="btn btn-primary">Received message list</button>
    </a>
    <a th:href="@{/messages/sendMessage}">
        <button class="btn btn-success">Send new message</button>
    </a>
    <h2>Sent Message List</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Seen date</th>
            <th scope="col">To</th>
            <th scope="col">Title</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tbody th:each="message: ${messages}">
        <tr>
            <td th:text="${#dates.format(message.sendDate, 'yyyy.MM.dd HH:mm')}"></td>
            <td th:text="${#dates.format(message?.seenDate, 'yyyy.MM.dd HH:mm')}"></td>
            <td th:text="${message.recipient.username}"></td>
            <td th:text="${#strings.abbreviate(message?.title,15)}"></td>
            <td>
                <a th:href="@{viewMessage(messageId=${message.id})}">
                    <button class="btn btn-primary">View</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>