<html layout:decorate="~{index(title='Manage task')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Manage task</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2 class="text-center">Manage task</h2>
        <h3>Edit task details</h3>
        <form method="post" th:action="@{/project/task/editTaskDetails}" th:object="${task}">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="form-group">
                <input name="id" th:value="${task.id}" type="hidden">
            </div>
            <div class="form-group">
                <label for="newName">New Name:</label>
                <input class="form-control" id="newName" name="name" th:value="${task.name}" type="text">
            </div>
            <div class="form-group">
                <label for="startDate">Start date</label>
                <input class="form-control" id="startDate" name="startDate" th:value="${task.startDate}" type="date">
            </div>
            <div class="form-group">
                <label for="startDate">End date</label>
                <input class="form-control" id="endDate" name="endDate" th:value="${task.endDate}" type="date">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status">
                    <option th:selected="${task.status==T(com.projecty.projectyweb.task.TaskStatus).TO_DO}"
                            value="TO_DO">To do
                    </option>
                    <option th:selected="${task.status==T(com.projecty.projectyweb.task.TaskStatus).IN_PROGRESS}"
                            value="IN_PROGRESS">In progress
                    </option>
                    <option th:selected="${task.status==T(com.projecty.projectyweb.task.TaskStatus).DONE}" value="DONE">
                        Done
                    </option>
                </select>
            </div>
            <button class="btn btn-success" type="submit">Edit</button>
        </form>
        <div class="pt-3">
            <h3>Manage assignments</h3>
        </div>
        <div class="row-my-2">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Remove assignment</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${task.assignedUsers}">
                    <td th:text="${user.username}"></td>
                    <td>
                        <form method="post"
                              th:action="@{/project/task/removeAssignment(taskId=${task.id},username=${user.username})}">
                            <button class="btn btn-danger" type="submit">Remove assignment</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row my-2">
            <h4>Add assigment</h4>
        </div>
        <div th:if="${notAssignedUsernames.size() != 0}">
            <div class="alert alert-primary" role="alert">
                Assigned users can change task status.
            </div>
            <form method="post" th:action="@{/project/task/assignUser}">
                <input name="taskId" th:value="${task.id}" type="hidden">
                <div class="form-group">
                    <label for="username">Assign user</label>
                    <select class="form-control" id="username" name="username">
                        <option th:each="username : ${notAssignedUsernames}" th:text="${username}"
                                th:value="${username}"></option>
                    </select>
                </div>
                <button class="btn btn-success" type="submit">Assign</button>
            </form>
        </div>
        <div th:unless="${notAssignedUsernames.size() != 0}">
            <h5>All project/team users have been already asigned to this task.</h5>
        </div>
        <div class="row my-2">
            <h3>Delete task</h3>
        </div>
        <form method="post" th:action="@{/project/task/deleteTask(taskId=${task.id})}">
            <button class="btn btn-danger" type="submit">Delete task</button>
        </form>
    </div>
</div>
</body>
</html>

