<div th:fragment="task-menu-to-do">
    <div class="container">
        <div class="row text-center" th:text="${task.name}"></div>
        <div class="row text-center" th:text="${task.startDate}"></div>
        <div class="row text-center" th:text="${task.endDate}"></div>
        <!--        <div class="row text-center" th:text="${T(com.projecty.projectyweb.task.TaskService).getDayCountToStart(task.id)}"></div>-->
        <div class="row text-center" th:text="${@taskService.getDayCountToStart(task.id)}"></div>
        <div class="row">
            <div class="col">
                <form method="post" th:action="@{/project/task/changeStatus(taskId=${task.id},status='IN_PROGRESS')}">
                    <button class="btn btn-info" type="submit">></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="task-menu-in-progress">
    <div class="row" th:text="${task.name}"></div>
    <div class="row">
        <div class="col">
            <form method="post" th:action="@{/project/task/changeStatus(taskId=${task.id},status='TO_DO')}">
                <button class="btn btn-info" type="submit"><</button>
            </form>
        </div>
        <div class="col">
            <form method="post" th:action="@{/project/task/changeStatus(taskId=${task.id},status='DONE')}">
                <button class="btn btn-info" type="submit">></button>
            </form>
        </div>
    </div>
</div>

<div th:fragment="task-menu-done">
    <div class="row" th:text="${task.name}"></div>
    <div class="row">
        <div class="col">
            <form method="post" th:action="@{/project/task/changeStatus(taskId=${task.id},status='IN_PROGRESS')}">
                <button class="btn btn-info" type="submit"><</button>
            </form>
        </div>
    </div>
</div>