<html layout:decorate="~{index(title='Tasklist')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Task list</title>
</head>
<body>
<div layout:fragment="content">
    <h1> Tasks for project: <b><span th:text="${project.name}"></span></b></h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">To do</th>
                    </tr>
                    </thead>
                    <tbody th:each="task : ${toDoTasks}">
                    <tr>
                        <td>
                            <div th:replace="fragments/task/task-menu :: task-menu-to-do"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">
                            In progress
                        </th>
                    </tr>
                    </thead>
                    <tbody th:each="task : ${inProgressTasks}">
                    <tr>
                        <td>
                            <div th:replace="fragments/task/task-menu :: task-menu-in-progress"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Done</th>
                    </tr>
                    </thead>
                    <tbody th:each="task : ${doneTasks}">
                    <tr>
                        <td>
                            <div th:replace="fragments/task/task-menu :: task-menu-done"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

