<div th:fragment="task-menu-to-do">
    <div class="container">
        <a th:href="@{/project/task/manageTask(taskId=${task.id})}">
            <div class="row text-center" th:text="${task.name}"></div>
        </a>
        <div class="row text-center" th:text="${task.startDate}"></div>
        <div class="row text-center" th:text="${task.endDate}"></div>
        <div class="row text-center"
             th:classappend="${@taskService.getDayCountToStart(task.id)}>0 ? text-success : text-danger">
            <p>Days to start: </p>
            <p class="text-center" th:text="${@taskService.getDayCountToStart(task.id)}"></p>
        </div>
        <div class="row">
            <div class="col">
                <form method="post" th:action="@{/project/task/changeStatus(taskId=${task.id},status='IN_PROGRESS')}">
                    <button class="btn btn-info" type="submit">></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="task-menu-in-progress">
    <a th:href="@{/project/task/manageTask(taskId=${task.id})}">
        <div class="row text-center" th:text="${task.name}"></div>
    </a>
    <div class="row text-center" th:text="${task.startDate}"></div>
    <div class="row text-center" th:text="${task.endDate}"></div>
    <div class="row text-center"
         th:classappend="${@taskService.getDayCountToEnd(task.id)}>0 ? text-success : text-danger">
        <p>Days to end: </p>
        <p class="text-center" th:text="${@taskService.getDayCountToEnd(task.id)}"></p>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" th:action="@{/project/task/changeStatus(taskId=${task.id},status='TO_DO')}">
                <button class="btn btn-info" type="submit"><</button>
            </form>
        </div>
        <div class="col">
            <form method="post" th:action="@{/project/task/changeStatus(taskId=${task.id},status='DONE')}">
                <button class="btn btn-info" type="submit">></button>
            </form>
        </div>
    </div>
</div>

<div th:fragment="task-menu-done">
    <a th:href="@{/project/task/manageTask(taskId=${task.id})}">
        <div class="row text-center" th:text="${task.name}"></div>
    </a>
    <div class="row">
        <div class="col">
            <form method="post" th:action="@{/project/task/changeStatus(taskId=${task.id},status='IN_PROGRESS')}">
                <button class="btn btn-info" type="submit"><</button>
            </form>
        </div>
    </div>
</div>