<html layout:decorate="~{index(title='Manage Users')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Manage users</title>
</head>
<body>
<div layout:fragment="content">
    <h1> List of users for project: <b><span th:text="${project.name}"></span></b></h1>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">E-mail</th>
                <th scope="col">Role Name</th>
                <th scope="col">Remove</th>
                <th scope="col">Change projectRole</th>
            </tr>
            </thead>
            <tbody th:each="projectRole: ${project.projectRoles}">
            <tr>
                <td th:text="${projectRole.user.username}"></td>

                <td th:text="${projectRole.user.email}"></td>

                <td th:text="${projectRole.name}"></td>

                <td>
                    <button class="btn btn-danger disabled" th:if="${projectRole.user.id == currentUser.id}">Remove
                    </button>
                    <form method="post"
                          th:action="@{/project/deleteuser(projectId=${project.id}, userId=${projectRole.user.id})}"
                          th:unless="${projectRole.user.id == currentUser.id}">
                        <button class="btn btn-danger" type="submit">Remove</button>
                    </form>
                </td>
                <td>
                    <form method="post"
                          th:action="@{/project/changeRole(projectId=${projectRole.project.id}, roleId=${projectRole.id}, newRoleName='USER')}"
                          th:if="${projectRole.name == T(com.projecty.projectyweb.project.role.ProjectRoles).ADMIN  && projectRole.user.id != currentUser.id}">
                        <button class="btn btn-success" type="submit">
                            Disable Admin
                        </button>
                    </form>
                    <form method="post"
                          th:action="@{/project/changeRole(projectId=${projectRole.project.id}, roleId=${projectRole.id}, newRoleName='ADMIN')}"
                          th:if="${projectRole.name == T(com.projecty.projectyweb.project.role.ProjectRoles).USER  && projectRole.user.id != currentUser.id}">
                        <button class="btn btn-danger" type="submit">
                            Enable Admin
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <form method="post">
            <div class="form-group">
                <label>Add users</label><br>
                <input class="btn btn-success" id="add" type="button" value="+"></input>
                <input class="btn btn-danger" id="remove" type="button" value="-"></input>
            </div>
            <div class="form-group" id="users">

            </div>
            <div class="form-actions">
                <button class="btn btn-success" type="submit">Add</button>
            </div>
        </form>

    </div>
</div>
<div layout:fragment="scripts">
    <script th:src="@{/js/entry-user-list.js}"></script>
</div>
</body>
</html>

