<html layout:decorate="~{index(title='Projects')}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Projects</title>
</head>
<body>
<div layout:fragment="content">
    <h1> List of projects </h1>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a class="my-4" th:href="@{/project/addproject}">
                        <button class="btn btn-success">Add project</button>
                    </a>
                </div>
                <div class="col">
                    <a class="my-4" th:href="@{/team/addTeamProject}">
                        <button class="btn btn-info">Add team project</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="container my-4">
            <h3>Team's projects</h3>
            <ul class="list-group" th:each="teamRole: ${teamRoles}">
                <li class="list-group-item my-2">
                    <a th:href="@{/team/addTeamProject(teamId=${teamRole.team.id})}">
                        <button class="btn btn-success">Add project</button>
                    </a>
                    <div class="container">
                        <p class="text-center" th:text="${teamRole.team.name}"></p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Project name</th>
                                <!--                                TODO Add unfinished tasks count here-->
                                <th scope="col">Task list</th>
                                <th scope="col">Add task</th>
                                <th scope="col">Delete project</th>
                            </tr>
                            </thead>
                            <tbody th:each="project: ${teamRole.team.projects}">
                            <tr>
                                <td th:text="${project.name}"></td>
                                <td>
                                    <a th:href="@{/project/task/tasklist(projectId=${project.id})}">
                                        <button class="btn btn-primary" id="taskListButton" type="button">Task list
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/project/task/addtasks(projectId=${project.id})}">
                                        <button class="btn btn-success" id="addTaskTeamButton" type="button">Add task
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <form method="POST" th:action="@{/project/deleteproject(projectId=${project.id})}">
                                        <button class="btn btn-danger" type="submit">Delete project</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container my-3">
            <h3>Projects</h3>
            <ul class="list-group" th:each="projectRole: ${projectRoles}">
                <li class="list-group-item my-2">
                    <!--         Name-->
                    <div class="row">
                        <div class="mx-auto" th:text="${projectRole.project.name}">
                        </div>
                    </div>
                    <p> Users </p>
                    <div class="row">
                        <div class="mx-auto">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody th:each="roleObj: ${projectRole.project.projectRoles}">
                                <tr>
                                    <td th:text="${roleObj.user.username}"></td>
                                    <td th:text="${roleObj.user.email}"></td>
                                    <td th:text="${roleObj.name}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a th:href="@{/project/task/tasklist(projectId=${projectRole.project.id})}">
                                <button class="btn btn-primary" id="tasksListButton" type="button">Tasks list</button>
                            </a>
                        </div>
                        <div class="col" th:if="${projectRole.name == 'ADMIN'}">
                            <a th:href="@{/project/task/addtasks(projectId=${projectRole.project.id})}">
                                <button class="btn btn-success" id="addTaskButton" type="button">Add task</button>
                            </a>
                        </div>
                        <div class="col" th:if="${projectRole.name == 'ADMIN'}">
                            <a th:href="@{/project/manageusers(projectId=${projectRole.project.id})}">
                                <button class="btn btn-warning" id="manageUsersButton" type="button">Manage users
                                </button>
                            </a>
                        </div>
                        <div class="col" th:if="${projectRole.name == 'ADMIN'}">
                            <form method="POST"
                                  th:action="@{/project/deleteproject(projectId=${projectRole.project.id})}">
                                <button class="btn btn-danger" type="submit">Delete project</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>

